body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
/*	recomendacion del cliente*/
	min-width: 1078px;
	max-width: 1078px;
}
header input{
	float:right;
	margin-top: 15px;
	margin-right: -200px;
	position: relative;

}
header nav{
	/*text-align: center;*/
	margin-left: 220px;
}
header nav ul li{
	border-bottom: 1px solid lightgray;
	color:lightgray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	padding-bottom: 2px;	
	/*text-decoration:underline;*/

}
#granthams{
	margin-left: 25px;
	margin-top: 25px;
}
#paint
{
	float: right;
}